
body {
    padding-top: 56px; 
  }
  .navbar-nav {
    margin-left: auto; 
  }
  .custom-margin {
    margin: 20px; 
  }
  .navbar-bg-color {
    background-color: #343a40; 
    color: #ffffff; 
  }
  .navbar-bg-color h1 {
    color: #ffffff; 
  }

  div > h2{
    color: #343a40;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 5px;
  }

  div>p{
    color: gray;
    font-family: Barskerville;
    text-align: center;
  }

  div> h5+p{
    color: white;
  }

  .oval-img {
    border-radius: 50%; 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    max-width: 200px; 
    margin: 0 auto; 
    display: block; 
  }
  .card-title {
    margin-top: 10px; 
    text-align: center;
  }
  .card-body {
    padding-top: 0; 
  }

  .card {
    
    display: inline-block;
    width: 200px;
    margin: 20px;
    text-align: center;
    border: none;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%;
}

.card .name {
    font-size: 1.5em;
    margin: 10px 0;
}

div>div>p{
    color:#343a40;
}

#Tour{
    background-color: #343a40;

}
#Tour>h2{
    color: #ffffff;
}


table {
    background-color: #ffffff;
    color: #343a40;
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align:left;
    font-family: Arial, sans-serif;
}

td>em{
    color: red;
}
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

#Contact{
    background-color: #ffffff;
}

button{
    background-color: blue;
    color: white;
}

.card-square {
    justify-content: space-between;
    border: none;
    background-color: #ffffff;
    display: inline-block;
    width: 200px;
    height: 400px;
    margin: 20px;
    text-align: center;
    

}

.card-square img {
    width: 100%;
    height: 250px; /* Altezza fissa per rendere le immagini quadrate */
    object-fit: cover; /* Mantiene le proporzioni corrette */
}

.card-square .name {
    font-size: 1.5em;
    margin: 10px 0;
}

.card-square .updated {
    font-size: 0.8em;
    color: gray;
}

div.tab-content>div{
    text-align: center;
}







